/*
 *  Author: Amaya Izcue Chourraut
 *  Description: Personal Website and Portfolio
 *  Date: 2017 
**/

body {
    background-color: #000;
    color: #FFF;
    font-family: Ubuntu, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
}

.verde {
    color: #C0FF00;
}

.menu-columna {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.titulo-columna {
    font-size: 3em;    
    font-weight: 500;
    letter-spacing: 1.5px;
    margin: 5px 0;
}

.subtitulo-columna {
    color: #BABABA;
}

/* CSS Mobile */

@media (max-width: 991px) {
    .titulo-columna {
        font-size: 2em;
    }

    .menu-columna {
        height: 25vh;
    }
}
